<!DOCTYPE html>
<html>
<head>
  <title>Let's Make a Story</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<span class="login">
  <% if current_user %>
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %> |
    <%= link_to 'Sign Up', new_user_registration_path %>
  <% end %>
</span>

<div class="title">
  <h1>Let's Tell a Tale</h1>
</div>

<div class="nav">
  <%= link_to 'Home', root_path %> 
  <%= link_to 'About', about_path %> 
  <%= link_to 'Tales', tales_path %>
</div>
 

<%= yield %>

</body>
</html>
